@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--fucsia: #fa1784;
	--green: #17cd9e;
	--lightGrey: #f5f6f7;
	--mediumGrey: #dadbe2;
	--chartLabels: #525577;
}

body {
	background-color: #fdfdfd;
	font-family: "Fira Sans", sans-serif;
}

.centerBox {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
